* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}




.body {
    width: 100%;
    height: auto;
    background-color: lightgoldenrodyellow;



}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 175px;
    background: -moz-linear-gradient(143deg, rgba(2, 0, 36, 1) 0%, rgba(37, 154, 161, 0.6894355154171043) 35%);
    background: -webkit-linear-gradient(143deg, rgba(2, 0, 36, 1) 0%, rgba(37, 154, 161, 0.6894355154171043) 35%);
    background: linear-gradient(143deg, rgba(2, 0, 36, 1) 0%, rgba(37, 154, 161, 0.6894355154171043) 35%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024", endColorstr="#259aa1", GradientType=1);
    box-shadow: 2px 0px 3px 2px rgba(0, 0, 0, 0.5);

}





.ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-right: 50px;
    font-family: ROBOTO FLEX;
    font-size: 16px;
    font-weight: bolder;
    color: white;
    text-shadow: 2px 1px black;
}

.section1 {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 150px;
    margin-top: 50px;
    background-color: lightgoldenrodyellow;



}

.divsSection1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    /* border: 5px solid rgb(206, 219, 19); */
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

}

.imgSection1 {

    width: 130px;
    height: 130px;
    margin-bottom: 2px;
    transition: 1s;


}

.imgSection1:hover {

    width: 260px;
    height: 260px;
    position: relative;
    border: 5px solid lightgreen;
    border-radius: 15px;

}

.logo {
    width: 200px;
    height: 200px;
}

.span {
    font-family: Roboto Flex;
}

.footer {

    margin-top: 25px;
    width: 100%;
    height: 175px;
    background: -moz-linear-gradient(143deg, rgba(2, 0, 36, 1) 0%, rgba(37, 154, 161, 0.6894355154171043) 35%);
    background: -webkit-linear-gradient(143deg, rgba(2, 0, 36, 1) 0%, rgba(37, 154, 161, 0.6894355154171043) 35%);
    background: linear-gradient(143deg, rgba(2, 0, 36, 1) 0%, rgba(37, 154, 161, 0.6894355154171043) 35%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024", endColorstr="#259aa1", GradientType=1);
    box-shadow: 2px 0px 3px 2px rgba(0, 0, 0, 0.5);
}

.imgfooter {
    margin-top: 50px;

    width: 50px;
    height: 50px;
    box-shadow: 10px 6px 5px black;
    border-radius: 10px;

}

.divFooter {
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;

}

.input {
    margin-top: 5px;
    border-radius: 3px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}




.boton {
    border-radius: 3px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    transition: 1s;

}

.boton:hover {
    background-color: lightskyblue;
}





.divSpanDerechos {
    display: flex;
    justify-content: center;
    margin-top: 25px;

}

.spanDerechos {
    font-family: ROBOTO FLEX;
    font-size: 16px;
    font-weight: bolder;
    color: white;
    text-shadow: 2px 1px black;
}






/* 
.ball{
    margin-top: 50px;
    width: 100%;
    height: 100px;
}


.animacion {
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    border-radius: 50px;
    animation-duration: 3s;
    animation-name: Animatron;
    animation-iteration-count: infinite;
}

@keyframes Animatron {
    from {
        margin-right: 50%;

    }

    to {
        margin-left: 50%;
        width: 50px;
        height: 50px;
    }

} */


.wasap {
    display: flex;
    justify-content: end;
    margin-right: 25px;
    margin-top: 25px;

}


.wasap_ {
    width: 45px;
    height: 45px;
    position: fixed;
    animation-name: wisip;
    animation-duration: 1s;
    animation-iteration-count: infinite;


}

@keyframes wisip {
    from {
        width: 0px;
        height: 0px;


    }

    to {
        width: 50px;
        height: 50px;

    }
}



/* Pagina Auriculares */

.bodyAuriculares {
    width: 100%;
    height: 300px;

    background-color: white;
}

.footerAuriculares {

    margin-top: 350px;
    width: 100%;
    height: 175px;
    background: -moz-linear-gradient(143deg, rgba(2, 0, 36, 1) 0%, rgba(37, 154, 161, 0.6894355154171043) 35%);
    background: -webkit-linear-gradient(143deg, rgba(2, 0, 36, 1) 0%, rgba(37, 154, 161, 0.6894355154171043) 35%);
    background: linear-gradient(143deg, rgba(2, 0, 36, 1) 0%, rgba(37, 154, 161, 0.6894355154171043) 35%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024", endColorstr="#259aa1", GradientType=1);
    box-shadow: 2px 0px 3px 2px rgba(0, 0, 0, 0.5);
}

.divPagAuriculares {
    display: flex;
    flex-direction: row;

    gap: 100px;
    margin-top: 15px;
    justify-content: center;

}

.imgAuriculares {
    width: 150px;
    height: 150px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;



}


.divTabla {
    display: flex;
    justify-content: center;
    border-collapse: collapse;
    margin-top: 25px;
}

.tabla {
    border-spacing: 0px 15px;
    width: 400px;
}


.th {

    background: rgb(2, 0, 36);
    background: -moz-linear-gradient(143deg, rgba(2, 0, 36, 1) 0%, rgba(206, 206, 206, 0.6894355154171043) 0%);
    background: -webkit-linear-gradient(143deg, rgba(2, 0, 36, 1) 0%, rgba(206, 206, 206, 0.6894355154171043) 0%);
    background: linear-gradient(143deg, rgba(2, 0, 36, 1) 0%, rgba(206, 206, 206, 0.6894355154171043) 0%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024", endColorstr="#cecece", GradientType=1);
    /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); */
    height: 50px;
    /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); */
    font-family: roboto flex;
    font-size: 12px;



}


.td {
    background-color: white;
    /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); */
    height: 50px;
    font-family: roboto flex;
    font-size: 12px;
}
